<div class="row">
    <div class="col-md-12">
        <button (click)="newRecipe()" class="btn btn-success">New Recipe</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <!-- using property binding to bind the input data using property binding -->
        <app-recipe-item *ngFor="let recipeEL of recipes; let i = index" 
        [recipeItem]="recipeEL" [recipeId]="i"
        (recipeSelected) = "onRecipeSelected(recipeEL)" > </app-recipe-item>
    </div>
</div>


